<main>
  <header class="py-8">
    <h1 class="text-xl font-bold">Tracker</h1>
  </header>
  <p  role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p  role="alert"
      phx-click="lv:clear-flash"
      phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  <%= @inner_content %>
</main>
