<div class="flex justify-between">
  <h2 class="text-lg">Makes</h2>
  <.link patch={Routes.make_path(@socket, :new)}>New make</.link>
</div>
<ul class="mt-4">
  <%= for make <- @makes do %>
    <.link navigate={Routes.make_detail_path(@socket, :show, make.id)}><h3><%= make.name %></h3></.link>
  <% end %>
</ul>
