<div>
  <h2>Create new make</h2>

  <.form let={f} for={@changeset} action={Routes.make_path(@conn, :create)}>
  <%= label f, :name %>
  <%= text_input f, :name, required: true %>
  <%= error_tag f, :name %>
  <div>
    <%= submit "Create" %>
  </div>
  </.form>
</div>
